nav {
    background-color: #313131;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;

    ul {
        display: flex;
        align-items: center;
        gap: 30px;

        li span i {
            color: white;
        }

        a {

            color: white;
            font-family: 'roboto';

        }

        .buyurtma {
            padding-left: 10px;
        }

        .car {
            padding-top: 10px;
            align-items: center;
        }

        .tel {
            margin-left: 20px;
        }

        .buy {
            color: white;
            font-family: 'roboto';
            align-items: center;
        }

    }
}


.logo {
    gap: 30px;
    align-items: center;
}

.home {
    padding-top: 39px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.btn input[type="text"] {
    padding: 20px 70px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding-right: 768px;
    align-items: center;
    border: 1px solid #e6e6e6;
}

.btn {
    position: relative;

    i {
        position: absolute;
        top: 20px;
        left: 20px;
    }
}

@media (max-width:1441px) {}

@media (max-width:1290px) {
    .btn input[type="text"] {
        padding-right: 500px;
    }
}

@media (max-width:1040px) {
    .btn input[type="text"] {
        padding-right: 300px;
    }
}

@media (max-width:835px) {
    .btn input[type="text"] {
        padding-right: 200px;
    }
}

@media (max-width:740px) {
    .btn input[type="text"] {
        padding-right: 100px;
    }
}

@media (max-width:780px) {
    .btn input[type="text"] {
        padding-right: 60px;
    }
}

.menu {
    display: flex;
    display: none;
}

@media (max-width:800px) {
    .menu {
        display: block;
    }
}

.box-shadow {
    padding: 20px;
    margin-top: 40px;

}

.muz {
    margin-left: 65px;
}

.k {
    font-family: roboto;
    color: #414141;
    margin-left: 110px;
    margin-top: -20px;
}

.divan {
    margin-left: 100px;
}

.c {
    font-family: roboto;
    color: #414141;
    margin-top: -20px;
    margin-left: 240px;
}

.game {
    margin-left: 120px;
}

.g {
    font-family: roboto;
    color: #414141;
    margin-top: -20px;
    margin-left: 395px;
}

.shkaf {
    margin-left: 130px;
}

.p {
    font-family: roboto;
    color: #414141;
    margin-top: -20px;
    margin-left: 545px;
}

.stol {
    margin-left: 120px;
}

.o {
    font-family: roboto;
    color: #414141;
    margin-top: -20px;
    margin-left: 695px;
}

.dush {
    margin-left: 170px;
}

.d {
    font-family: roboto;
    color: #414141;
    margin-top: -20px;
    margin-left: 895px;
}

.a {
    font-family: roboto;
    color: #ff0000;
    margin-top: -20px;
    margin-left: 1005px;
}

.nuqta {
    margin-left: 230px;
}

.inmp{
    margin-left: 320px;
}
@media (max-width:1440px) {
    .a {
        display: none;
    }

    .nuqta {
        display: none;
    }

    .dush {
        display: none;
    }

    .d {
        display: none;
    }
}

@media (max-width:1322px) {
    .divan {
        margin-left: 130px;
    }

    .c {
        margin-left: 280px;
    }

    .game {
        margin-left: 160px;
    }

    .g {
        margin-left: 480px;
    }

    .shkaf {
        margin-left: 180px;
    }

    .p {
        margin-left: 680px;
    }

    .o {
        margin-left: 900px;
    }
}

@media (max-width:1070px) {
    .divan {
        margin-left: 100px;
    }

    .c {
        margin-left: 250px;
    }

    .game {
        margin-left: 130px;
    }

    .g {
        margin-left: 415px;
    }

    .shkaf {
        margin-left: 140px;
    }

    .p {
        margin-left: 580px;
    }

    .o {
        margin-left: 770px;
    }

    .stol {
        margin-left: 160px;
    }
}

@media (max-width:1440px) {
    .inmp{
margin: 0 auto;
    }
}

@media (max-width:937px) {
    .muz {
        margin-left: 10px;
    }

    .k {
        margin-left: 50px;
    }

    .divan {
        margin-left: 100px;
    }

    .c {
        margin-left: 185px;
    }

    .game {
        margin-left: 120px;
    }

    .g {
        margin-left: 335px;
    }

    .shkaf {
        margin-left: 130px;
    }

    .p {
        margin-left: 495px;
    }

    .o {
        margin-left: 670px;
    }

    .stol {
        margin-left: 140px;
    }
}

@media (max-width:837px) {
    .muz {
        margin-left: 10px;
    }

    .k {
        margin-left: 50px;
    }

    .divan {
        margin-left: 100px;
    }

    .c {
        margin-left: 185px;
    }

    .game {
        margin-left: 120px;
    }

    .g {
        margin-left: 335px;
    }

    .shkaf {
        margin-left: 130px;
    }

    .p {
        margin-left: 495px;
    }

    .o {
        display: none;
    }

    .stol {
        display: none;
    }
}

@media (max-width:770px) {
    nav {
        display: none;
    }
}

@media (max-width:600px) {
    .responsive {
        display: none;
    }
}

.menu-responsive-600px {
    ul {
        padding-top: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    span {
        display: flex;
        justify-content: center;
    }

    p {
        font-family: roboto;

        color: #414141;
    }

    span {
        padding: 15px;
        border-radius: 3px;
        margin-bottom: 20px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
}

.menu-responsive-600px {
    display: none;
}

@media (max-width:600px) {
    .menu-responsive-600px {
        display: block;
    }

    .btn {
        display: none;
    }
}

.search-resp input[type="text"] {
    padding: 20px 70px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 40px;
    margin-top: 30px;
    padding-right: 168px;
    align-items: center;
    border: 1px solid #e6e6e6;
}

.search-resp {
    position: relative;

    i {
        position: absolute;
        top: 50px;
        left: 70px;
    }
}

.search-resp {
    display: none;
}

@media (max-width:600px) {

    .search-resp {
        display: block;
    }
}

@media (max-width:500px) {

    .search-resp {
        display: block;

    }

    .search-resp input[type="text"] {
        padding: 20px 70px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        margin-left: 40px;
        margin-top: 30px;
        padding-right: 68px;
        align-items: center;
        border: 1px solid #e6e6e6;
    }
}


@media (max-width:385px) {

    .search-resp {
        display: block;

    }

    .search-resp input[type="text"] {
        padding: 20px 70px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        margin-left: 40px;
        margin-top: 30px;
        padding-right: 38px;
        align-items: center;
        border: 1px solid #e6e6e6;
    }

    .s {
        display: none;
    }
}

@media (max-width:359px) {

    .search-resp {
        display: block;

    }

    .search-resp input[type="text"] {
        padding: 20px 70px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        margin-left: 40px;
        margin-top: 30px;
        padding-right: 18px;
        align-items: center;
        border: 1px solid #e6e6e6;
    }

    .s {
        display: none;
    }

    .aa {
        display: none;
    }
}

@media (max-width:330px) {

    .search-resp {
        display: block;

    }

    .search-resp input[type="text"] {
        padding: 20px 70px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        margin-left: 40px;
        margin-top: 30px;
        padding-right: 2px;
        align-items: center;
        border: 1px solid #e6e6e6;
    }

    .s {
        display: none;
    }

    .aa {
        display: none;
    }
}

.balkon {
    background-image: url(./);
}

.search-responsive{
    display: none;
padding-top: 20px;
padding-bottom: 20px;
    position: relative;
input {
    padding-right: 249px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 50px;
    border: 1px solid #E6E6E6;
    display: flex;
    margin: 0 auto;
}
.btn input[type="search"]::placeholder {
    color: black;
    font-family: "Roboto";
}
}

@media (max-width:1250px) {
    .header input {
        padding-right: 500px;
    }
}

@media (max-width:990px) {
    .header input {
        padding-right: 250px;
    }
}
@media (max-width:768px) {
    .header input {
        padding-right: 200px;
    }

    nav {
        display: none;
    }
}

.section {
    margin-top: 20px;
    padding-top: 23px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.box {
    display: flex;
    gap: 10px;
}

.yes {
    font-family: Roboto;
    font-size: 19px;
    font-weight: 400;
}

.yesi {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
}

.ak {
    color: #D74444;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
}
@media (max-width:850px) {
    .box-6 , .ak{
    display: none;
    } 
}

.section p{
cursor: pointer;
}

.menu-responsive-700px{
    display: none;
    padding-top: 15px;
ul{
    display: flex;
    justify-content: space-around;
}
div{
display: flex;
justify-content: center;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
padding: 14px;
border-radius: 3px;
margin-bottom: 10px;
}
a{
font-family: Roboto;
color: #414141;
}
}
@media (max-width:700px) {
   
    .menu-responsive-700px{
    display: block;
    }
  
    .search-responsive{
    display: block;
    }
}
.responsive{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;


}
@media (max-width:500px) {
  .aksiya{
display: none;
}  
.search-responsive input{
padding-right: 150px;
}
}
@media (max-width:375px) {
    .search-responsive input{
        padding-right: 100px;
        }
}
.header{
    margin-top: -40px;

}

.header {
    padding-top: 37px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .btn {
        position: relative;

        i {
            left: 12px;
            position: absolute;
            top: 20px;
        }
    }

    input {
        padding-right: 749px;
        padding-top: 17px;
        padding-bottom: 17px;
        padding-left: 50px;
        border: 1px solid #E6E6E6;
    }

    .btn input[type="search"]::placeholder {
        color: black;
        font-family: "Roboto";
    }
}

